body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(131, 58, 180, 0.8);
  background: linear-gradient(138deg, rgba(131, 58, 180, 0.8) 17%, rgba(253, 29, 137, 0.8) 65%, rgba(252, 176, 69, 0.8) 89%);
  background-attachment: fixed;
}

.hide {
  display: none;
}

#people-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
}
header {
  text-align: center;
}

dialog {
  position: fixed;
  margin: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  border: none;
  background-color: rgba(131, 58, 180, 0.8);
  background: linear-gradient(138deg, rgba(131, 58, 180, 0.8) 17%, rgba(253, 29, 137, 0.8) 65%, rgba(252, 176, 69, 0.8) 89%);
  backdrop-filter: blur(2px);
  color: rgb(0, 0, 0);
  font-size: large;
  -webkit-box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

dialog h2 {
  text-align: center;
  color: black;
}

dialog::backdrop {
  backdrop-filter: brightness(40%) blur(5px);
  overflow: hidden;
}

label {
  color: rgb(0, 0, 0);
  font-size: large;
  margin: 15px 0;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-box {
  margin: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  text-align: center;
  background-color: rgb(42, 42, 42);
  color: whitesmoke;
  -webkit-box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

.grid-box img {
  height: 200px;
}

.gridTitle {
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0;
  text-align: center;
}

button {
  background-color: rgb(252, 176, 69);
  border-radius: 8px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

#btn-reload {
  margin-left: 10px;
}

select {
  background-color: rgb(42, 42, 42);
  color: whitesmoke;
  border-radius: 8px;
  border: none;
  padding: 5px 10px;
}

input {
  background-color: rgb(42, 42, 42);
  color: whitesmoke;
  border-radius: 8px;
  border: none;
  padding: 5px 20px;
  margin: 15px 0;
}

#top-btns {
  margin-left: 20px;
}

#navbar {
  text-align: center;
}
#navbar a {
  text-decoration: none;
  font-weight: 500;
  padding: 0 30px;
  color: black;
  font-size: large;
}
#navbar a:hover {
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.card-content-first {
  display: block;
}
.card-content-second {
  visibility: hidden;
}

.press-this {
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}
